.footer {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.footer-sns {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}


.design-by {
  font-size: 18px;
  padding-left: 50px;
  color: white;
}

.linkedin,
.itch,
.github {
  color: white;
  font-size: 35px;
  margin: 2%;
  margin-bottom: 20px;
  border-bottom: 4px solid transparent;
}

.linkedin:hover,
.itch:hover,
.github:hover {
  border-color: white;
  transition: all 0.3s ease-out;
}


@media only screen and (max-width: 960px) {
  .footer-info {
    text-align: center;
    padding: 0;
    font-size: 20px;
  }

  .footer-sns {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .design-by {
    padding: 0 0 40px 0;
  }
}
